<div class="body">
	<h2 class="titre">Mes informations personnelles.</h2>
	<div class="container">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th *ngIf="mesInfo.Role == 1">Admin</th><th *ngIf="mesInfo.Role == 0">Membre</th>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Nom prénom (âge)</td>
					<td>{{ mesInfo.Nom }} {{ mesInfo.Prenom }} ({{ mesInfo.Age }} ans)</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>{{ mesInfo.Email }}</td>
				</tr>
				<tr>
					<td>Téléphone</td>
					<td>{{ mesInfo.Telephone }}</td>
				</tr>
			</tbody>
		</table>
	</div>



	<h2 class="titre">Mes trajets en tant que conducteur.</h2>
	<div *ngIf="noData">Vous n'avez pas encore proposé de trajet.</div>
	<div class="container" *ngIf="!noData">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Départ</th>
					<th>Arrivé</th>
					<th>Date</th>
					<th>Distance</th>
					<th>Prix</th>
					<th>Place</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let trajet of listeTrajets" class="pointer" [routerLink]='["/Trajets/Info/", trajet._id]'>
					<td>{{ trajet.VilleDep }}</td>
					<td>{{ trajet.VilleFin }}</td>
					<td>{{ trajet.DateDep }}</td>
					<td>{{ trajet.Distance }}</td>
					<td>{{ trajet.Prix }}</td>
					<td>{{ trajet.NbPlace }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>