<div class="body" *ngIf="auth.getUserLoggedIn() && auth.estAdmin()">
	<h2 class="titre">Gestion des trajets type <span *ngIf="!afficheForm" class="right btn btn-success" (click)="ajouter()">Ajouter</span></h2>

	<div *ngIf="afficheForm" class="form-add-travel">
		<form (submit)="onSubmit()" #researchForm="ngForm">
			<div class="form-group">
				<input type="text" class="form-control" id="villeDep" placeholder="Ville de départ" [(ngModel)]="nouveau.VilleDep" [ngModelOptions]="{standalone: true}" required />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="villeFin" placeholder="Ville d'arrivé" [(ngModel)]="nouveau.VilleFin" [ngModelOptions]="{standalone: true}" required />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="distance" placeholder="Distance" [(ngModel)]="nouveau.Distance" [ngModelOptions]="{standalone: true}" required />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="prix" placeholder="Prix" [(ngModel)]="nouveau.Prix" [ngModelOptions]="{standalone: true}" required />
			</div>
			<div class="form-group">
				<button type="submit" class="right btn btn-success">Enregistrer</button>
			</div>
		</form>
	</div>

	<div class="container">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Ville de départ</th>
					<th>Ville d'arrivée</th>
					<th>Distance</th>
					<th>Prix</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let trajet of listeTrajets">
					<td>{{ trajet.VilleDep }}</td>
					<td>{{ trajet.VilleFin }}</td>
					<td>{{ trajet.Distance }}</td>
					<td>{{ trajet.Prix }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>